[submodule "nulllib"]
	path = nulllib
	url = https://gitea.protogen.io/nullbite/nulllib-lua.git
[submodule ".vim/figuradocs"]
	path = figuradocs
	url = https://github.com/GrandpaScout/FiguraRewriteVSDocs
[submodule "kattarmor"]
	path = kattarmor
	url = https://github.com/KitCat962/Figura-KattArmor
